<h1>Добавление новой статьи</h1>

<label for="title">Заголовок</label><br/>
<input type="text" name="title" id="title"><br/><br/>

<label for="subtitle">Подзаголовок</label><br/>
<input type="text" name="subtitle" id="subtitle"><br/><br/>

<label for="text">Текст статьи</label><br/>

<!-- <input type="text" name="text" id="text"><br/><br/> -->

<textarea name="text" id="text">

</textarea><br/><br/>

<h2>Ссылки на картинки:</h2>
<ul id="image-list"></ul>
<button (click)="addImage()">Добавить картинку</button><br/><br/>
<button (click)="addArticle()">Добавить статью</button>






