<div class="article-container">
    <div *ngIf="article; else noArticle">
        <p class="article-title">{{article.title}}</p>

        <div class="one-line">
            <p class="article-subtitle">{{article.subtitle}}</p>
    
            <div *ngIf="article.date">
                <p class="article-date">{{article.date.toLocaleString()}}</p>
            </div>
        </div>
    
        <p class="article-text">{{article.text}}</p>

        <div class="article-images">
            <div *ngFor="let imgUri of article.images">
                <img class="image" src="{{imgUri}}" style="width: 200px;" (click)="onImageClick(imgUri)"/>
            </div>
        </div>


        <div *ngIf="article.comments == undefined || article.comments.length == 0; else elseBlock">
            <h1 style="margin-bottom: 50px; text-align: left;">Будьте первым кто оставит комментарий!</h1>
        </div>

        <ng-template #elseBlock>
            <div class="article-comments">
                <h1 style="margin-bottom: 50px;">Комментарии:</h1>
                <div *ngFor="let comment of article.comments;">
                    <div class="comment">
                        <p class="comment-name">{{comment.name}}</p>
                        <p class="comment-text">{{comment.text}}</p>
                    </div>
                </div>
            </div>
        </ng-template>



        <div class="article-comment-input">
            <label class="grid-item" for="name">Имя: </label>
            <input class="grid-item comment-input" type="text" name="name" id="comment-name"/>

            <label class="grid-item" for="name">Комментарий: </label>
            <input class="grid-item comment-input" type="text" name="text" id="comment-text"/>
        </div>
        
        <input type="button" class="article-comment-submit" (click)="onCommentSubmit()" value="Добавить"/>

    </div>
    <ng-template #noArticle>
        <p>No article specified</p>
    </ng-template>
</div>




